* {
    box-sizing: border-box;
}

.container-body {
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgb(22, 112, 160), rgb(22, 112, 160) 10%);
}

.banner-img {
    text-align: center;
    width: auto;
   
}

h1 {
    text-align: center;
}

.card {
    align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
    border: 20px, solid, black;
    color: #ffffff;
}

.card-left {
    margin-left: 20px;
    margin-right: 10px;
}

.card-right {
    margin-left: 10px;
    margin-right: 20px;
}

.card-img-top {
    width: auto;
    height: 200px;
}